* {
    font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular",
        "Hiragino Sans", ヒラギノ角ゴシック, "Hiragino Kaku Gothic Pro",
        "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial,
        helvetica, sans-serif !important;
}

@media screen and (min-width: 650px) {
    .br-pc {
        display: block;
    }

    .br-sp {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .br-pc {
        display: none;
    }

    .br-sp {
        display: block;
    }
}

.boxQA {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 0.5em;
    background: #edf1f5; /*A文章部分背景色*/
    border-radius: 10px;
}

.boxQA .box-title {
    position: relative;
    background: #fff; /*Q文章部分背景色*/
    padding: 10px 5px 10px 45px;
    color: #454545; /*Q文章文字色*/
    border-radius: 10px;
    font-size: 1rem;
}

.boxQA .box-title:before {
    content: "Q";
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    padding: 0em;
    color: white; /*Q文字色*/
    background: #9ed1ff; /*Q背景色*/
    font-weight: bold;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 32px;
    left: 0em;
    top: 20px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 3px white;
    border-radius: 50%;
}

.boxQA .box-title:after {
    content: "A";
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    padding: 0em;
    color: white; /*A文字色*/
    background: #ffab8b; /*A背景色*/
    font-weight: bold;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 32px;
    left: 0em;
    bottom: -80px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 3px white;
    border-radius: 50%;
}

.boxQA p {
    padding: 20px 20px 15px 45px;
    margin: 0;
    font-size: 1rem;
}

.boxQA ul {
    padding: 0 1em;
    position: relative;
}

.boxQA ul li {
    line-height: 1.5;
    padding: 0.5em 0 0.5em 4.2em;
    list-style-type: none !important;
}

.boxQA ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f138"; /*アイコン種類*/
    position: absolute;
    left: 3.5em;
    color: #ffab8b; /*Aのリストのアイコンの色*/
}
