.btn[disabled]:hover {
    opacity: .65;
    cursor: default;
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 360px
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    max-width: 100px
}

.fileinput .thumbnail>img {
    max-height: 100%
}

.fileinput .btn {
    vertical-align: middle
}

.fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.thumbnail {
    border: 0 none;
    border-radius: 0;
    padding: 0
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    /* direction: ltr */
}
