@font-face {
    font-family: "font-fileuploader";
    src: url("font-fileuploader.eot?l2vub3");
    src: url("font-fileuploader.eot?l2vub3#iefix") format("embedded-opentype"),
        url("font-fileuploader.ttf?l2vub3") format("truetype"),
        url("font-fileuploader.woff?l2vub3") format("woff"),
        url("font-fileuploader.svg?l2vub3#font-fileuploader") format("svg");
    font-weight: normal;
    font-style: normal;
}
